<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.wireless">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:appComponentFactory="@string/app_name"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:appComponentFactory">
        <activity android:name=".Todoselect2"></activity>
        <activity android:name=".Todoselect" />
        <activity android:name=".SolE" />
        <activity android:name=".SolQ" />
        <activity android:name=".ResultE" />
        <activity android:name=".ResultQ" />
        <activity android:name=".Quiz" />
        <activity android:name=".Image" />
        <activity android:name=".NotePage" />
        <activity android:name=".Read" />
        <activity android:name=".OtherRes" />
        <activity android:name=".exer" />
        <activity android:name=".SelectAct" />
        <activity android:name=".Module" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".Firstpage" />
    </application>

</manifest>